<div *ngIf="doc">
  <div [ngSwitch]="doc.type">
    <ta-preview-event [doc]="doc" *ngSwitchCase="'event'"></ta-preview-event>
    <ta-preview-person [doc]="doc" *ngSwitchCase="'person'"></ta-preview-person>
    <ta-preview-news [doc]="doc" *ngSwitchCase="'news'"></ta-preview-news>
    <ta-preview-tourism [doc]="doc" *ngSwitchCase="'tourism'"></ta-preview-tourism>
    <ta-preview-service [doc]="doc" *ngSwitchCase="'service'"></ta-preview-service>
    <ta-preview-cities [doc]="doc" *ngSwitchCase="'cities'"></ta-preview-cities>
    <ta-card [doc]="doc" linkLabel="mehr erfahren" imageLabel="mehr erfahren" *ngSwitchDefault></ta-card>
  </div>
</div>
