@mixin townapp-card-theme($theme) {
  $background: map-get($theme, background);

  .card {
    background-color: map-get($background, card-back);
    border: none;
  }
  .card.news {
    background-color: map-get($background, card-news-back);
  }
  .card.service {
    background-color: map-get($background, card-service-back);
  }
  .card.event {
    background-color: map-get($background, card-event-back);
  }
  .card.person {
    background-color: map-get($background, card-person-back);
  }
  .card.tourism {
    background-color: map-get($background, card-tourism-back);
  }
  .card.cities {
    background-color: map-get($background, card-cities-back);
  }

}
