<a id="content" tabindex="0" class="card-link" routerLink="{{ doc.urlNew }}" [attr.aria-label]="linkLabel">
  <div class="card" [ngClass]="type">
    <div fxLayout="row" fxLayoutGap="16px" class="header">
      <div fxFlex="1 0 50%">
        <div class="category text-md">
          <p *ngIf="doc._categoryHighlight" [innerHTML]="doc._categoryHighlight"></p>
          <p *ngIf="!doc._categoryHighlight">{{ doc.category }}</p>
        </div>
      </div>
      <div fxFlex="0 0 86px" *ngIf="doc.image">
        <div class="image">
          <img src="{{ doc.image }}" alt="{{ imageLabel }}">
        </div>
      </div>
    </div>
    <div class="title">
      <h3 class="h3" *ngIf="doc._titleHighlight" [innerHTML]="doc._titleHighlight"></h3>
      <h3 class="h3" *ngIf="!doc._titleHighlight">{{ doc.title }}</h3>
    </div>
    <div class="child">
      <div *ngIf="!doc._contentHighlight">
        <ng-content></ng-content>
        <!-- Should not be visible unless the child component is missing -->
        <p class="content text-md">{{ doc.description }}</p>
      </div>
      <p class="content text-md" *ngIf="doc._contentHighlight" [innerHTML]="doc._contentHighlight"></p>
    </div>
  </div>
</a>
