
a.card-link, a.card-link:visited, a.card-link:focus, a.card-link:active {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

.card {
  padding: 24px;
  overflow: hidden;
  height: 302px;
  box-sizing: content-box;
  .header {
    height: 86px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
    .image {
      box-sizing: border-box;      
      align-items: center;
      justify-content: flex-end;
      display: flex;
      img {
        image-rendering: high-quality;
        object-fit: cover;
        object-position: center center;
        height: 86px;
        width: 86px;
      }
    }
    .category {
      height: 72px;
      overflow: hidden;
    }
  }
  .child {
    max-height: 106px;
    overflow: hidden;
  }
  .title {
    h3 {
      width: 100%;
      overflow: hidden;
      overflow-wrap: anywhere;
      text-overflow: ellipsis;
    }
    height: 80px;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .date {
    white-space: nowrap;
    padding-bottom: 16px;
  }
  .content {
    height: 96px;
    overflow: hidden;
  }
  p {
    overflow: hidden;
  }
}