<section>
  <div class="container">
    <div fxLayout="row" class="row" *ngFor="let doc of docs; index as i" fxLayoutGap="16px">
      <div fxFlex="120px">Random page {{ i + 1 }}</div>
      <div><a color="primary" mat-flat-button target="_blank" [href]="doc.urlNew">Our page</a></div>
      <div><a color="accent" mat-flat-button target="_blank" [href]="doc.url">Original page</a></div>
    </div>
  </div>
</section>