@import '~@angular/material/theming';

// Query Block
.query-form {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.search-query {
  margin-top: 32px;
}
.query-form mat-form-field {
  width: 100%;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  border: 0;
}
.query-form input {
  border: none;
  width: calc(100% - 64px);
  height: 48px;  
  font-size: 20px;
  line-height: 30px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 16px;
}
button#search {
  position: relative;
  top: 0px;
  border-radius: 0;
  padding: 0;
  margin-left: 0px;
  font-size: 16px;
  font-weight: bold;
  width: 64px;
  height: 48px;
  box-sizing: border-box;
  //background-color: #66B333;
  //color: white;
}
button#clear {
  color: black;
  position: relative;
  background-color: white;
  left: -40px;
  margin-right: -40px;
}
mat-button-toggle-group {
  flex-wrap: wrap;
  border-radius: 0;
  border: 0;
}
mat-button-toggle span.badge {
  margin-left: 4px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  border-radius: 11px;
  font-size: 12px;
}
mat-button-toggle {
  background-color: white;
}
.mat-button-toggle-group-appearance-standard {
  border: 0;
}
.mat-button-toggle-appearance-standard {
  display: inline-block;
  background-color: white;
  height: 100%;
}
