<section class="query-form">
  <div class="container">
    <div class="query" fxLayout="column" fxLayoutGap="4px">
      <a href="javascript:void(0);" class="skip-link" (click)="onAnchorClick()">Skip to main content</a>
      <div fxFlex="100">
        <input #queryInput matInput placeholder="Ich suche nach" autocomplete="off" [value]="query" (input)="onQueryChange(queryInput.value)" aria-label="search query"
            (keydown)="onKeyDown($event)" type="text" [matAutocomplete]="auto">
        <button id="clear" *ngIf="queryInput.value.length > 0" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearQuery(queryInput)">
          <mat-icon>close</mat-icon>
        </button>
        <button (click)="onSearchClick()" id="search" color="accent" mat-flat-button aria-label="search"><mat-icon>search</mat-icon></button>
      </div>
      <div fxFlex="100">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocomplete($event.option.value)">
          <mat-option [value]="opt.query" *ngFor="let opt of autocompleteOptions">{{ opt.query }}</mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>
</section>
