
@mixin townapp-search-header-theme($theme) {
  $primary: map-get($theme, primary);

  button#search {
    background-color: mat-color($primary);
    color: mat-contrast($primary, 900);
  }

  .query-form {
    background-color: rgba(0, 0, 0, 0.0);
  }
  
}
