<ta-card type="person" [doc]="doc">
  <div class="child">
    <div fxLayout="row" fxLayoutGap="8px" *ngIf="doc.typeParams && doc.typeParams.phone">
      <div fxFlex="0 0 24px">
        <mat-icon>phone</mat-icon>
      </div>
      <div fxGrow>
        <p class="text-sm">{{ doc.typeParams.phone }}</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" *ngIf="doc.typeParams && doc.typeParams.email">
      <div fxFlex="0 0 24px">
        <mat-icon>mail_outline</mat-icon>
      </div>
      <div fxGrow>
        <p class="text-sm">{{ doc.typeParams.email }}</p>
      </div>
    </div>
  </div>    
</ta-card>