<div class="correction">
  <div class="container">
    <p>Ist es möglich, dass Sie nach &quot;<a [routerLink]="['/all', correction.text ]">{{ correction.text}}</a>&quot; suchen?</p>
  </div>
</div>