@mixin townapp-search-result-combined-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-flat-button.mat-primary {
    color: mat-contrast($primary, 900);
  }
}