
.all {
  margin-top: 48px;
  a {
    width: 100%;
    min-width: 200px;
    font-size: 16px;
    line-height: 40px;
  }
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  a {
    text-decoration: none;
    color: black;
  }
}
section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
