<ta-serp-header [title]="title" *ngIf="!skipDocs"></ta-serp-header>

<div *ngIf="!error">
  <ta-search-correction *ngIf="correction" [correction]="correction"></ta-search-correction>

  <section class="nichts" *ngIf="count === 0 && runningRequests === 0">
    <div class="container">
      <h2>Es tut uns leid, aber es gibt kein Ergebniss.</h2>
    </div>
  </section>
  <div *ngFor="let cat of categories">
    <section *ngIf="cat.docs && cat.docs.length">
      <div class="container">
        <h2 class="h2"><a id="content" tabindex="0" [routerLink]="cat.link">{{ cat.title }}</a></h2>
        <div [ngSwitch]="cat.class">
          <ta-search-result-combined-any [class]="cat.class" [docs]="cat.docs" rows="1" *ngSwitchDefault></ta-search-result-combined-any>
        </div>
        <div class="all">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
            <div fxFlex="0 0 calc(33.3% - 20px)">
              <a color="primary" mat-flat-button [routerLink]="cat.link">Alle {{ cat.title }}</a>
            </div>
            <div fxFlex="1 0 1" fxHide.lt-md="true">
              <span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<ta-request-error [error]="error" *ngIf="error"></ta-request-error>
