<ta-card type="news" [doc]="doc">
  <div class="content text-md">
    <p *ngIf="doc._contentHighlight" [innerHTML]="doc._contentHighlight"></p>
    <p *ngIf="!doc._contentHighlight">{{ doc.description }}</p>
  </div>
  <div class="date text-md" fxLayout="row" fxLayoutGap="8px">
    <div fxFlex="0 0 24px">
      <mat-icon aria-label="Zeit">date_range</mat-icon>
    </div>
    <div fxGrow>
      <span *ngIf="doc.typeParams && doc.typeParams.date">{{ doc.typeParams.date }}</span>
      <span *ngIf="!(doc.typeParams && doc.typeParams.date)">N/A</span>
    </div>
  </div>
</ta-card>
