<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" [ngClass]="ri > 0 ? 'not-first' : ''" *ngFor="let row of docsInRows(2); let ri = index">
  <div class="col" *ngFor="let doc of row; let ci = index">
    <ta-preview-any [doc]="doc"></ta-preview-any>
  </div>
</div>
