<div fxLayout="row" fxLayout.lt-md="column" class="row" fxLayoutGap="30px" [ngClass]="ri > 0 ? 'not-first' : ''" *ngFor="let row of docsInRows(); let ri = index">
  <div fxFlex="0 0 calc(33.3% - 20px)" *ngFor="let doc of row; let ci = index">
    <ta-preview-any [doc]="doc" *ngIf="doc"></ta-preview-any>
  </div>
</div>
