/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/theming';

@include mat-core();

$ta-black: (
  50: black, 100: black, 200: black, 300:black, 400: black,
  500: black, 600: black, 700: black, 800: black, 900: black,
  A100: black, A200: black, A400: black, A700: black,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: black
  )
);

$ta-burgundy: (
  50: #8E0000, 100: #8E0000, 200: #8E0000, 300:#8E0000, 400: #8E0000,
  500: #8E0000, 600: #8E0000, 700: #8E0000, 800: #8E0000, 900: #8E0000,
  A100: #8E0000, A200: #8E0000, A400: #8E0000, A700: #8E0000,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #8E0000
  )
);

$ta-purple: (
  50: #943450, 100: #943450, 200: #943450, 300:#943450, 400: #943450,
  500: #943450, 600: #943450, 700: #943450, 800: #943450, 900: #8E0000,
  A100: #943450, A200: #943450, A400: #943450, A700: #943450,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #943450
  )
);

$ta-sapphire: (
  50: #42458C, 100: #42458C, 200: #42458C, 300:#42458C, 400: #42458C,
  500: #42458C, 600: #42458C, 700: #42458C, 800: #42458C, 900: #42458C,
  A100: #42458C, A200: #42458C, A400: #42458C, A700: #42458C,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #42458C
  )
);

$ta-green: (
  50: #448605, 100: #448605, 200: #448605, 300:#448605, 400: #448605,
  500: #448605, 600: #448605, 700: #448605, 800: #448605, 900: #448605,
  A100: #448605, A200: #448605, A400: #448605, A700: #448605,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #448605
  )
);

$ta-cyan: (
  50: #168191, 100: #168191, 200: #168191, 300: #168191, 400: #168191,
  500: #168191, 600: #168191, 700: #168191, 800: #168191, 900: #168191,
  A100: #168191, A200: #168191, A400: #168191, A700: #168191,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #168191
  )
);

$ta-darkgoldenrod: (
  50: #695500, 100: #695500, 200: #695500, 300: #695500, 400: #695500,
  500: #695500, 600: #695500, 700: #695500, 800: #695500, 900: #695500,
  A100: #695500, A200: #695500, A400: #695500, A700: #695500,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #695500
  )
);

$ta-darkgreen: (
  50: #30873B, 100: #30873B, 200: #30873B, 300: #30873B, 400: #30873B,
  500: #30873B, 600: #30873B, 700: #30873B, 800: #30873B, 900: #30873B,
  A100: #30873B, A200: #30873B, A400: #30873B, A700: #30873B,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #30873B
  )
);

$ta-astronautBlue: (
  50: #1A4665, 100: #1A4665, 200: #1A4665, 300: #1A4665, 400: #1A4665,
  500: #1A4665, 600: #1A4665, 700: #1A4665, 800: #1A4665, 900: #1A4665,
  A100: #1A4665, A200: #1A4665, A400: #1A4665, A700: #1A4665,
  contrast: (
    50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $dark-primary-text, 400: $dark-primary-text,
    500: $dark-primary-text, 600: $dark-primary-text, 700: $dark-primary-text, 800: $light-primary-text, 900: $light-primary-text,
    A100: $dark-primary-text, A200: $dark-primary-text, A400: $dark-primary-text, A700: #338A3E
  )
);

$townapp-bg-green-yellow: map-merge(
  $mat-light-theme-background,
  (
    card-back: #C6DC7f, card-news-back: #B1F598, card-service-back: #FFEE81,
    card-event-back: #96DCFC, card-person-back: #639FD7, card-tourism-back: #BE824A
  )
);
$townapp-bg-teal-orange: map-merge(
  $mat-light-theme-background,
  (
    card-back: #F4A039, card-news-back: #708D81, card-service-back: #FFC857,
    card-event-back: #CCDF9E, card-person-back: #E9D5B2, card-tourism-back: #F7B267
  )
);
$townapp-bg-black-yellow: map-merge(
  $mat-light-theme-background,
  (
    card-back: #F4A039, card-news-back: #E9E494, card-service-back: #FFC857,
    card-event-back: #67BFC3, card-person-back: #F4D35E, card-tourism-back: #9BC1BC
  )
);
$townapp-bg-orange-indigo: map-merge(
  $mat-light-theme-background,
  (
    card-back: #65C1D4, card-news-back: #F4A039, card-service-back: #569ED6,
    card-event-back: #ABC1CC, card-person-back: #E0AFA0, card-tourism-back: #9BC1BC
  )
);

$townapp-bg-burgundy-blue: map-merge(
  $mat-light-theme-background,
  (
    card-back: #D1C4E9, card-news-back: #C0DFF1, card-service-back: #DAD97E,
    card-event-back: #DB9495, card-person-back: #E1C89B, card-tourism-back: #BDC8A6, card-cities-back: #EEB258
  )
);

$townapp-bg-purple-purple: map-merge(
    $mat-light-theme-background,
    (
      card-back: #E2A9A2, card-news-back: #86AD87, card-service-back: #A0D0E9,
      card-event-back: #EBBB94, card-person-back: #D4D9EA, card-tourism-back: #B5E4D0
    )
);

$townapp-bg-sapphire-sapphire: map-merge(
    $mat-light-theme-background,
    (
      card-back: #C2DB7C, card-news-back: #FCC763, card-service-back: #9DA3E2,
      card-event-back: #7CBF92, card-person-back: #DDBB91, card-tourism-back: #9FC5E9
    )
);

$townapp-bg-green-green: map-merge(
    $mat-light-theme-background,
    (
      card-back: #A88E85, card-news-back: #64B5F6, card-service-back: #DF7F61,
      card-event-back: #90A4AE, card-person-back: #E57373, card-tourism-back: #7986CB
    )
);

$townapp-bg-cyan-cyan: map-merge(
    $mat-light-theme-background,
    (
      card-back: #90A4AE, card-news-back: #43A047, card-service-back: #039BE5,
      card-event-back: #A88E85, card-person-back: #AFB42B, card-tourism-back: #F4511E
    )
);

$townapp-bg-darkgoldenrod-darkgoldenrod: map-merge(
    $mat-light-theme-background,
    (
      card-back: #D89C66, card-news-back: #5F93C8, card-service-back: #D6B851,
      card-event-back: #C67173, card-person-back: #9EBA7A, card-tourism-back: #7F98B2
    )
);

$townapp-bg-darkgreen-darkgreen: map-merge(
    $mat-light-theme-background,
    (
      card-back: #D291DC, card-news-back: #E39290, card-service-back: #A8B545,
      card-event-back: #4AADCE, card-person-back: #B18E83, card-tourism-back: #A7C0CD
    )
);

$townapp-bg-astronautBlue-astronautBlue: map-merge(
    $mat-light-theme-background,
    (
      card-back: #8EB3D4, card-news-back: #B46661, card-service-back: #C2CAD1,
      card-event-back: #CEAA78, card-person-back: #AF9AB5, card-tourism-back: #C5C77F
    )
);


$townapp-theme-green-yellow: map-merge(mat-light-theme(mat-palette($mat-green, 800), mat-palette($mat-yellow, 600)), (background: $townapp-bg-green-yellow));
$townapp-theme-teal-orange: map-merge(mat-light-theme(mat-palette($mat-teal, 700), mat-palette($mat-orange)), (background: $townapp-bg-teal-orange));
$townapp-theme-black-yellow: map-merge(mat-light-theme(mat-palette($ta-black), mat-palette($mat-yellow, 600)), (background: $townapp-bg-black-yellow));
$townapp-theme-orange-indigo: map-merge(mat-light-theme(mat-palette($mat-deep-orange, 900), mat-palette($mat-indigo)), (background: $townapp-bg-orange-indigo));
$townapp-theme-burgundy-blue: map-merge(mat-light-theme(mat-palette($ta-burgundy), mat-palette($mat-light-blue, 700)), (background: $townapp-bg-burgundy-blue));
$townapp-theme-purple-purple: map-merge(mat-light-theme(mat-palette($ta-purple), mat-palette($ta-purple, 700)), (background: $townapp-bg-purple-purple));
$townapp-theme-sapphire-sapphire: map-merge(mat-light-theme(mat-palette($ta-sapphire), mat-palette($ta-sapphire, 700)), (background: $townapp-bg-sapphire-sapphire));
$townapp-theme-green-green: map-merge(mat-light-theme(mat-palette($ta-green), mat-palette($ta-green, 700)), (background: $townapp-bg-green-green));
$townapp-theme-cyan-cyan: map-merge(mat-light-theme(mat-palette($ta-cyan), mat-palette($ta-cyan, 700)), (background: $townapp-bg-cyan-cyan));
$townapp-theme-darkgoldenrod-darkgoldenrod: map-merge(mat-light-theme(mat-palette($ta-darkgoldenrod), mat-palette($ta-darkgoldenrod, 700)), (background: $townapp-bg-darkgoldenrod-darkgoldenrod));
$townapp-theme-darkgreen-darkgreen: map-merge(mat-light-theme(mat-palette($ta-darkgreen), mat-palette($ta-darkgreen, 700)), (background: $townapp-bg-darkgreen-darkgreen));
$townapp-theme-astronautBlue-astronautBlue: map-merge(mat-light-theme(mat-palette($ta-astronautBlue), mat-palette($ta-astronautBlue, 700)), (background: $townapp-bg-astronautBlue-astronautBlue));

@import 'app/app.component.theme.scss';
@import 'app/home/home.component.theme.scss';
@import 'app/preview/person/person.component.theme.scss';
@import 'app/search-result/search-result-list.component.theme.scss';
@import 'app/search-result-combined/search-result-combined.component.theme.scss';
@import 'app/shared/card/card.component.theme.scss';
@import 'app/shared/request-error/request-error.component.theme.scss';
@import 'app/shared/search-header/search-header.component.theme.scss';
@import 'app/shared/serp-header/serp-header.component.theme.scss';

@mixin townapp-component-theme($theme) {
  @include townapp-app-theme($theme);
  @include townapp-card-theme($theme);
  @include townapp-home-theme($theme);
  @include townapp-preview-person-theme($theme);
  @include townapp-request-error-theme($theme);
  @include townapp-search-header-theme($theme);
  @include townapp-serp-header-theme($theme);
  @include townapp-search-result-combined-theme($theme);
  @include townapp-search-result-list-theme($theme);
}

// default settings for overlays and other
@include angular-material-theme($townapp-theme-teal-orange);
@include townapp-component-theme($townapp-theme-teal-orange);

.townapp-theme-teal-orange {
  @include angular-material-theme($townapp-theme-teal-orange);
  @include townapp-component-theme($townapp-theme-teal-orange);
}

.townapp-theme-green-yellow {
  @include angular-material-theme($townapp-theme-green-yellow);
  @include townapp-component-theme($townapp-theme-green-yellow);
}

.townapp-theme-black-yellow {
  @include angular-material-theme($townapp-theme-black-yellow);
  @include townapp-component-theme($townapp-theme-black-yellow);
}

.townapp-theme-orange-indigo {
  @include angular-material-theme($townapp-theme-orange-indigo);
  @include townapp-component-theme($townapp-theme-orange-indigo);
}

.townapp-theme-burgundy-blue {
  @include angular-material-theme($townapp-theme-burgundy-blue);
  @include townapp-component-theme($townapp-theme-burgundy-blue);
}

.townapp-theme-purple-purple {
  @include angular-material-theme($townapp-theme-purple-purple);
  @include townapp-component-theme($townapp-theme-purple-purple);
}

.townapp-theme-sapphire-sapphire {
  @include angular-material-theme($townapp-theme-sapphire-sapphire);
  @include townapp-component-theme($townapp-theme-sapphire-sapphire);
}

.townapp-theme-green-green {
  @include angular-material-theme($townapp-theme-green-green);
  @include townapp-component-theme($townapp-theme-green-green);
}

.townapp-theme-cyan-cyan {
  @include angular-material-theme($townapp-theme-cyan-cyan);
  @include townapp-component-theme($townapp-theme-cyan-cyan);
}

.townapp-theme-darkgoldenrod-darkgoldenrod {
  @include angular-material-theme($townapp-theme-darkgoldenrod-darkgoldenrod);
  @include townapp-component-theme($townapp-theme-darkgoldenrod-darkgoldenrod);
}

.townapp-theme-darkgreen-darkgreen {
  @include angular-material-theme($townapp-theme-darkgreen-darkgreen);
  @include townapp-component-theme($townapp-theme-darkgreen-darkgreen);
}

.townapp-theme-astronautBlue-astronautBlue {
  @include angular-material-theme($townapp-theme-astronautBlue-astronautBlue);
  @include townapp-component-theme($townapp-theme-astronautBlue-astronautBlue);
}

.mat-drawer-container.mat-sidenav-container {
  height: 100%;
  background-color: white;
}

.content {
  position: relative;
}

// Design System

@media(max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container .container {
  padding: 0;
  margin: 0;
}

.page-container {
  .router-content {
    background-color: white;
  }
}

section {
  margin-top: 90px;
}

@media(max-width: 576px) {
  section {
    margin-top: 50px;
  }
}

.mat-typography {
  .text-xs {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
  }
  .text-sm {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
  }
  .text-md {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  .text-lg {
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
  }
  .text-xl {
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
  }

  .h1 {
    line-height: 72px;
    font-size: 64px;
    font-weight: 500;
  }
  .h2 {
    line-height: 56px;
    font-size: 48px;
    font-weight: 500;
  }
  @media(max-width: 576px) {
    .h2 {
      line-height: 40px;
      font-size: 32px;
      font-weight: 500;
    }
  }
  .h3 {
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
  }
  .h4 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 500;
  }
  .h5 {
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
  }
  .h6 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
  }
}

// search highlighting
.card {
  em {
    background-color: #FFFF8D;
    font-weight: bold;
    font-style: normal;
  }
}

// 3rd-party HTML transformation support

.page-html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 24px;

  .table-row {
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #D9D9D9;
    margin-bottom: 16px;
  }
  .table-element {
    background: white;
    padding: 8px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-collapse: collapse;
  }
  .table-element p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  h4, h5, h6 {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  h1, h2, h3 {
    font-weight: bold;
  }
  a, a:focus, a:visited, a:active {
    color: black;
    display: inline-block;
    min-width: 20px;
  }
  img {
    max-width: 100%;
  }
}

.page-event {
  dt {
    display: inline-block;
    min-width: 150px;
    font-weight: 500;
  }
  dd {
    display: inline-block;
    margin-left: 0px;
  }
}

.page-person {
  .table-element {
    display: inline-block;
    min-width: 100px;
    margin-right: 50px;
    max-height: 280px;
    overflow: hidden;
  }
  .table-row {
    background: white;
  }
  h1 {
    font-weight: 500;
    font-size: 32px;
  }
}

.skip-link {
  position: absolute;
  top: -1000px;
}

.skip-link:focus {
  background-color: white;
  position: absolute;
  text-align: center;
  top: -48px;
  left: 10px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  max-width: 228px;
}

.home-header {
  .skip-link:focus {
    background-color: white;
    position: fixed;
    text-align: center;
    top: 8px;
    left: 20px;
    line-height: 40px;
    font-size: 20px;
    color: black;
    max-width: 228px;
  }
}

button::-moz-focus-inner {
  border: 0 !important;
}
a.header.h4 {
  margin: 5px;
}

// Keboard focus styling
*:focus, h2 a:focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white !important;
  border-radius: 2px;
}
.cdk-focused {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white !important;
  border-radius: 2px;
}
*:focus, input:focus {
  outline: none !important;
}

.logo-link {
  display: inline-flex;
}
