<ta-serp-header *ngIf="doc" [title]="doc.title" [breadcrumbs]="breadcrumbs" [type]="doc.type"></ta-serp-header>
<ta-serp-header *ngIf="!doc" [breadcrumbs]="breadcrumbs"></ta-serp-header>

<section *ngIf="doc">
  <div class="container">
    <div fxflex fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="1 1 auto" fxHide.lt-sm="true">
        <div class="section-menu l1" *ngIf="menu2.length">
          <div *ngFor="let m1 of menu2">
            <h3 class="text-lg"><a [class.active]="m1.active" [routerLink]="m1.link" [queryParams]="m1.params">{{ m1.name }}</a></h3>
            <div class="section-menu l2" *ngIf="menu.length && m1.name === doc.categoryL1">
              <div *ngFor="let m2 of menu">
                <a class="text-md" [class.active]="m2.active" [routerLink]="m2.link" [queryParams]="m2.params">{{ m2.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="0 1 730px" fxFlex.lt-md="100">
        <div id="content" tabindex="0" class="page-html"  [innerHTML]="doc.safeHtml"></div>
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="0 0 auto"><small><a href="{{ doc.url }}">Die originale Seite</a></small></div>
          <div fxFlex="1 0 50%">
            <mat-select placeholder="Schlagen eine bessere Kategorie für diese Seite vor" (selectionChange)=newAltCategory($event)>
              <mat-option *ngFor="let cat of altCategories" [value]="cat">{{ cat }}</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ta-request-error *ngIf="ready && !doc" error="Diese Seite existiert nicht mehr"></ta-request-error>

<section *ngIf="moreDocs">
  <div class="container">
    <ta-search-result-combined-any [docs]="moreDocs" rows="1"></ta-search-result-combined-any>
  </div>
</section>
