section {
  .section-menu {
    a, a:visited, a:focus, a:active {
      color: #808080;
      text-decoration: none;
      font-weight: 400;
    }
  }
  .section-menu.l2 {
    a {
      margin-left: 16px;
      font-weight: 300;
    }
    margin-bottom: 16px;
  }
  .section-menu, section-menu.l2 {
    a.active, a.active:visited, a.active:focus, a.active:active {
      color: black;
      text-decoration: underline;
    }
  }
}
img {
  max-width: 100%;
}