@mixin townapp-serp-header-theme($theme) {

  $background: map-get($theme, background);
  .serp-header {
    background-color: map-get($background, card-back);
  }
  .serp-header.news {
    background-color: map-get($background, card-news-back);
  }
  .serp-header.service {
    background-color: map-get($background, card-service-back);
  }
  .serp-header.event {
    background-color: map-get($background, card-event-back);
  }
  .serp-header.person {
    background-color: map-get($background, card-person-back);
  }
  .serp-header.tourism {
    background-color: map-get($background, card-tourism-back);
  }
}
