<section class="serp-header" [ngClass]="type">
  <div class="container">
    <div class="search-form">
      <ta-search-header></ta-search-header>
    </div>
    <div fxLayout="column" fxLayoutGap="16px" class="header">
      <div fxFlex="1 0 25%" class="breadcrumbs">
        <h2 class="h5" *ngFor="let b of breadcrumbs; let i = index">
          <span *ngIf="i > 0">/</span>
          <a [routerLink]="b.link" [queryParams]="b.params">{{ b.name }}</a>
        </h2>
      </div>
      <div fxFlex="75%" class="title">
        <h1 class="h3">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>