.serp-header {
  padding-top: 0px;
  padding-bottom: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: black;
  margin-top: 0;
  // min-height: 240px;
  display: flex;
  align-items: center;
  .header, .container {
    height: 100%;
  }
  h1 {
    overflow-x: hidden;
    overflow-wrap: anywhere;
  }
  h2 a {
    color: black;
    text-decoration: none;
  }
}
.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.breadcrumbs {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}
.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
@media(max-width: 576px) {
  .serp-header {
    // min-height: 120px;
  }
}
