<ta-serp-header [title]="title" [type]="type"></ta-serp-header>
<ta-search-correction *ngIf="correction" [correction]="correction"></ta-search-correction>
<div fxHide.gt-xs="true" *ngIf="!error">
  <div class="container">
    <div class="filters-block">
      <div class="header" (click)="filtersBlockClick()">
        <div class="stats active">
          {{ filtersTempEnabled.size }}
        </div>
        <div class="name">
          FILTER
        </div>
        <div class="state">
          <mat-icon *ngIf="!filtersBlockOpen">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="filtersBlockOpen">arrow_drop_up</mat-icon>
        </div>
      </div>
      <div *ngIf="filtersBlockOpen">
        <div class="body">
          <div class="filters">
            <div *ngFor="let f of dynamicFilters" class="dynamic-filter">
              <mat-checkbox color="accent" *ngIf="f.active" [checked]="this.filtersTempEnabled.has(f.name)" (change)="filtersBlockChange(f.name, $event)">
                <span style="margin-left: 4px;">
                  {{ f.title }}
                </span>
              </mat-checkbox>
            </div>
          </div>
          <div class="temp-clear">
            <div class="stats temp">
              {{ filtersTempEnabled.size }}
            </div>
            <button mat-flat-button color="accent" [disabled]="filtersTempEnabled.size === 0" (click)="filterBlockClear()">FILTER LÖSCHEN</button>
          </div>
        </div>
        <div class="apply">
          <button mat-flat-button color="accent" (click)="filterBlockApply()">ANWENDEN</button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="search-results" *ngIf="!error">
  <div class="container">

    <div fxflex fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="1 1 auto" fxHide.lt-sm="true">
        <h2 class="h4">FILTER</h2>
        <div *ngFor="let f of dynamicFilters" class="dynamic-filter">
          <mat-checkbox color="accent" *ngIf="f.active" [checked]="this.filtersEnabled.has(f.name)" (change)="setDynamicFilter(f.name, $event)">
            <span style="margin-left: 4px;" class="text-lg">
              {{ f.title }}
            </span>
          </mat-checkbox>
        </div>
      </div>
      <div fxFlex="0 1 730px" fxFlex.lt-md="100">
        <ta-search-result-any [docs]="pageDocs"></ta-search-result-any>
      </div>
    </div>
  </div>
</section>

<section *ngIf="!error">
  <div class="container">
    <mat-paginator *ngIf="pageDocs && count > pageSize" [pageIndex]="page" [length]="count" [pageSize]="pageSize" (page)="setPage($event.pageIndex)"></mat-paginator>
  </div>
</section>

<ta-request-error [error]="error" *ngIf="error"></ta-request-error>
