.dynamic-filter {
  margin-top: 4px;
}
.filters-block {
  width: 100%;
  
  .header {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: #C4C4C4 1px solid;
    position: relative;
  }
  .body {
    margin-top: 20px;
    margin-bottom: 20px;

    .temp-clear {
      position: relative;
      height: 40px;
      padding-left: 60px;
    }

    .filters {
      margin-bottom: 42px;
    }
  }

  .dynamic-filter {
    padding-top: 4px;
  }

  .name, .state, .stats {
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  .name, .state {
    padding-right: 8px;
  }
  .stats {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
  }
  .stats.active {
    top: 4px;
  }
  .stats.temp {
    bottom: 0px;
  }
  .apply {
    margin-top: 20px;
    text-align: center;
  }

  .mat-flat-button {
    width: 100%;
    height: 40px;
  }
}