@mixin townapp-search-result-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .filters-block {
    .stats {
      background-color: mat-color($primary);
    }
  }
}