<ta-card type="event" [doc]="doc">
  <div class="child">
    <div fxLayout="row" fxLayoutGap="16px" class="text-md">
      <div fxLayout="row" fxLayoutGap="8px" *ngIf="doc.typeParams && doc.typeParams.date">
        <div fxFlex="0 0 24px">
          <mat-icon>date_range</mat-icon>
        </div>
        <div fxGrow>
          <p>{{ doc.typeParams.date }}</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="8px" *ngIf="doc.typeParams && doc.typeParams.time">
        <div fxFlex="0 0 24px">
          <mat-icon>access_time</mat-icon>
        </div>
        <div fxGrow>
          <p>{{ doc.typeParams.time }}</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" *ngIf="doc.typeParams && doc.typeParams.place">
      <div fxFlex="0 0 24px">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 20.4634C11.9017 20.345 11.7955 20.2159 11.6827 20.0769C11.0393 19.2841 10.1832 18.1755 9.32896 16.9094C8.47285 15.6406 7.63106 14.2317 7.00635 12.8372C6.37577 11.4297 6 10.1102 6 9C6 5.68228 8.68228 3 12 3C15.3177 3 18 5.68228 18 9C18 10.1102 17.6242 11.4297 16.9936 12.8372C16.3689 14.2317 15.5272 15.6406 14.671 16.9094C13.8168 18.1755 12.9607 19.2841 12.3173 20.0769C12.2045 20.2159 12.0983 20.345 12 20.4634ZM9 9C9 9.82523 9.40255 10.5668 9.91789 11.0821C10.4332 11.5975 11.1748 12 12 12C12.8252 12 13.5668 11.5975 14.0821 11.0821C14.5975 10.5668 15 9.82523 15 9C15 8.17477 14.5975 7.43324 14.0821 6.91789C13.5668 6.40255 12.8252 6 12 6C11.1748 6 10.4332 6.40255 9.91789 6.91789C9.40255 7.43324 9 8.17477 9 9Z" stroke="black" stroke-width="2"/>
        </svg>
      </div>
      <div fxGrow>
        <p class="text-md place">{{ doc.typeParams.place }}</p>
      </div>
    </div>
  </div>
</ta-card>