@mixin townapp-home-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .topnews a, .topnews a:visited, .topnews a:focus, .topnews a:active {
    color: mat-color($accent);
  }

  $test: map-get($theme, warn);

  .debug {
    .block.c100 {
      width: 100px;
      height: 100px;
      background-color: mat-color($test);
      color: mat-contrast($test, 100);
    }
    .block.c500 {
      width: 100px;
      height: 100px;
      background-color: mat-color($test);
      color: mat-contrast($test, 500);
    }
    .block.c900 {
      width: 100px;
      height: 100px;
      background-color: mat-color($test);
      color: mat-contrast($test, 900);
    }
  }
}