<section class="home-header" [style.backgroundImage]="bgImage" *ngIf="config">
  <div class="container">

    <div fxLayout="row">
      <div fxFlex="100">
        <h1 class="h2">{{ config.motto }}</h1>
      </div>
    </div>

    <ta-search-header></ta-search-header>

  </div>
</section>

<ta-search-result-combined [skipDocs]="{}"></ta-search-result-combined>