.not-first {
  margin-top: 16px !important;
}

/* search */
.home-header {
  padding-top: 0px;
  padding-bottom: 0px;
  background-position: center;
  //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,.5);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: white;
  margin-top: 0;
  //min-height: 540px;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
}
.topnews p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
.topnews a, .topnews a:visited, .topnews a:focus, .topnews a:active {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  //color: #FD5523;
}
.second {
  margin-top: 24px;
}
@media(max-width: 576px) {
  .home-header {
    min-height: 320px;
  }
}
.home-header .container {
  position: relative;
}
a, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none;
}
.home-header h1 {
  margin-top: 0px;
  margin-bottom: 16px;
}
.contacts {
  font-size: 20px;
  line-height: 28px;
}
.contacts > div {
  padding-bottom: 24px;
}
.home-header .contacts span {
  line-height: 24px;
  display: inline-block;
}
@media(max-width: 576px) {
  .home-header h1 {
    margin-bottom: 16px;
  }
}
.toolbar {
  margin-top: 0;
}
