<div *ngIf="config" on-click="removeBorder($event)">
  <div class="page-container" [ngClass]="config.theme">

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav mode="over" fixedTopGap="56" autoFocus="false" hasBackdrop="true"
          (openedStart)="sidenavOpened()" (closedStart)="sidenavClosed()">
      <mat-toolbar color="primary" class="toolbar">
        <div class="container">
          <h1 class="town-name"><a tabindex="0" routerLink="/">{{ config.name }}</a></h1>
          <span class="spacer"></span>
          <button class="menu" mat-icon-button disableRipple (click)="snav.toggle();" aria-label="Menü">
            <mat-icon>{{ menuIcon }}</mat-icon>
          </button>
        </div>
      </mat-toolbar>
        <div class="container" *ngIf="dataSource">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node">
                <button mat-icon-button disabled></button>
                <a [routerLink]="node.link" [queryParams]="node.params" [class.header]="node.level === 0" [class.h4]="node.level === 0" [class.text-lg]="node.level === 1">{{ node.name }}</a>
              </li>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <li>
                <div class="mat-tree-node">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <a [routerLink]="node.link" [queryParams]="node.params" [class.header]="node.level === 0" [class.h4]="node.level === 0" [class.text-lg]="node.level === 1">{{ node.name }}</a>
                </div>
                <ul [class.hidden]="!treeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </ul>
              </li>
            </mat-nested-tree-node>

          </mat-tree>
        </div>
      </mat-sidenav>

      <mat-sidenav-content #snavContent>
        <mat-toolbar color="primary" class="toolbar">
          <div class="container">
            <h1 class="town-name"><a tabindex="0" routerLink="/">{{ config.name }}</a></h1>
            <span class="spacer"></span>
            <button class="menu" mat-icon-button disableRipple (click)="snav.toggle(); focusLabel()" aria-label="Menü">
              <mat-icon>{{ menuIcon }}</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <div class="content">
          <div class="router-content">
            <router-outlet></router-outlet>
          </div>
          <section class="footer text-md">
            <div class="container">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutAlign="start start">
                <div fxFlex="100" class="logo">
                  <div class="hdr h6">{{ config.name }}</div>
                  <div class="non-first"><a class="logo-link" routerLink="/"><img class="logo" [src]="logoUrl" alt="{{ config.name }} logo"></a></div>
                  <div class="non-first">Ein Pilot von <a href="https://r1rationality.com/de/digital-information-sharing">R1 Rationality</a>.</div>
                </div>
                <div fxHide fxShow.sm fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="start start">
                  <div fxFlex="100">
                    <div class="hdr h6">Menü</div>
                    <div fxLayout="row" [ngClass]="ri > 0 ? 'non-first' : ''" *ngFor="let row of categories(); let ri = index" fxLayoutGap="30px">
                      <div fxFlex="0 0 calc(50% - 15px)" *ngFor="let cat of row">
                        <a routerLink="/{{ cat.class }}">{{ cat.title }}</a>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="100">
                    <div class="hdr h6">Kontakt</div>
                    <div>{{ config.address.email }}</div>
                    <div class="non-first">{{ config.address.phone }}</div>
                    <div class="non-first">{{ config.address.street }}</div>
                  </div>
                </div>
                <div fxFlex="100" fxHide.sm>
                  <div class="hdr h6">Menü</div>
                  <div fxLayout="row" [ngClass]="ri > 0 ? 'non-first' : ''" *ngFor="let row of categories(); let ri = index" fxLayoutGap="30px">
                    <div fxFlex="0 0 calc(50% - 15px)" *ngFor="let cat of row">
                      <a routerLink="/{{ cat.class }}">{{ cat.title }}</a>
                    </div>
                  </div>
                </div>
                <div fxFlex="100" fxHide.sm>
                  <div class="hdr h6">Kontakt</div>
                  <div>{{ config.address.email }}</div>
                  <div class="non-first">{{ config.address.phone }}</div>
                  <div class="non-first">{{ config.address.street }}</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>
</div>
