.page-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .content {
    min-height: 100%;
  }
  .router-content {
    min-height: calc(100% - 52px - 64px);
    padding-bottom: 64px;
  }

  mat-sidenav {
    width: 100%;
  }

  button.menu.mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
  }
}

.toolbar {
  min-height: 56px;
  height: 56px;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  .mat-icon {
    color: white;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .container {
    display: flex;
    vertical-align: middle;
  }
  .town-name {
    height: 40px;
    line-height: 40px;
  }
  a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }
}

.mat-sidenav {
  .menu {
    .mat-tree-node {
      color: white;
      font-weight: 500;
    }
    a, a:focus, a:visited, a:active {
      color: white;
      text-decoration: none;
    }
    a.header {
      line-height: 70px;
      height: 70px;
    }
    .hidden {
      display: none;
    }
    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
  }
  .container {
    margin-top: 32px;
  }
}

.footer {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  display: flex;
  align-items: center;

  img.logo {
    background-color: white;
    max-width: 100px;
    padding: 8px;
  }
  .logo {
    a {
      text-decoration: underline;
    }
  }

  .non-first {
    margin-top: 20px;
  }

  .grey-colour {
    color: #9A9A9A;
  }

  .hdr {
    margin-bottom: 50px;
  }
  a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
  }
}
.footer p {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.fab-contact {
  position: fixed;
  right: 16px;
  bottom: 24px;
}
