@mixin townapp-app-theme($theme) {
  $primary: map-get($theme, primary);
  
  .mat-sidenav {
    background-color: mat-color($primary);

    li {
      background-color: mat-color($primary);
    }
  }

  .footer {
    background-color: mat-color($primary);
  }
}
