@mixin townapp-request-error-theme($theme) {
  $warn: map-get($theme, warn);

  .error {
    color: mat-color($warn);

    a, a:visited, a:focus, a:active {
      color: mat-color($warn);
    }
  }
  
}
