<section class="error">
  <div class="container">
    <h1>{{ error }}</h1>
    <p>
      Bitte entschuldigen Sie uns: {{ error }}.
    </p>
    <p>
      Sie können entweder <a routerLink="./" queryParamsHandling="preserve">noch ein mal versuchen</a> oder <a routerLink="/">zur Startseite gehen</a>.
    </p>
  </div>
</section>